@using EksamensProjektScooterLandBlazor.Shared.Models;
@using EksamensProjektScooterLandBlazor.Client.Services;

@page "/AddProduktPage"

<br />
<EditForm EditContext="@editContext" class="row p-3"
          OnValidSubmit="@HandleValidSubmit"
          OnInvalidSubmit="@HandleInvalidSubmit">
    <DataAnnotationsValidator />
    <div class="col-md-12 p-3 border-green bg-light rounded">
        <div class="row mb-3">
            <div class="col-md-6 mb-3">
                <label for="ProductNavn" class="form-label">Product</label>
                <InputText id="ProductNavn" @bind-Value="ProduktModel.ProduktNavn"
                           class="form-control form-control-sm" />
                <ValidationMessage For="@(() => ProduktModel.ProduktNavn)" class="text-danger" />
            </div>
            <div class="col-md-6 mb-3">
                <label for="ProduktPris" class="form-label">Pris</label>
                <InputNumber id="ProduktPris" @bind-Value="ProduktModel.ProduktPris"
                             class="form-control form-control-sm"
                             ParsingErrorMessage="The {0} field has an invalid value." />
                <ValidationMessage For="@(() => ProduktModel.ProduktPris)" class="text-danger" />
            </div>
        </div>
        <div class="col-12 mb-3">
            <button type="submit" class="btn btn-primary col-12">Tilføj</button>
        </div>
    </div>
</EditForm>



@if (ErrorCode == 200)
{
	<label>Produktet er nu tilføjet til databasen! :)</label>
}


