@using EksamensProjektScooterLandBlazor.Client.Services;
@using EksamensProjektScooterLandBlazor.Shared.Models;
@using Microsoft.AspNetCore.Components;
@using EksamensProjektScooterLandBlazor.Client.ChildComponents;

@page "/FakturaPage/{OrdreId:int}"

<div class="invoice-container">
    <!-- Øverste sektion med ScooterLands oplysninger og logo -->
    <div style="display: flex; justify-content: space-between; align-items: flex-start;">
        <div style="width: 70%;">
            <h1 class="company-name">ScooterLand</h1>
            <p>
                <strong>ScooterFiktiv AS</strong><br />
                Lille Lisevej 12, Odense<br />
                Danmark<br />
                Telefon: 12345678<br />
                Email: <a href="mailto:Scooterland@gmail.com">Scooterland@gmail.com</a>
            </p>
        </div>
        <div style="width: 30%; text-align: right;">
            <img src="images/scooterland-logo.png" alt="ScooterLand Logo" class="company-logo" />
        </div>
    </div>

    <hr />

    <!-- Sektion med faktura og kundens oplysninger -->
    @if (ordre == null || kunde == null)
    {
        <p>Loading...</p>
    }
    else
    {
        <div style="display: flex; justify-content: space-between;">
            <!-- Fakturainformationer -->
            <div style="width: 48%;">
                <h6>Fakturaoplysninger</h6>
                <table class="table table-bordered">
                    <tr>
                        <td><strong>Ordre ID:</strong></td>
                        <td>@ordre.OrdreID</td>
                    </tr>
                    <tr>
                        <td><strong>Dato</strong></td>
                        <td>@ordre.SalgsDato.ToString("dd-MM-yyyy")</td>
                    </tr>
                    <tr>
                        <td><strong>BetalingsDato</strong></td>
                        <td>@ordre.SalgsDato.AddDays(8).ToString("dd-MM-yyyy")</td>
                    </tr>
                            
                </table>
            </div>

            <!-- Kundeinformationer -->
            <div style="width: 48%;">
                <h6>Kundeoplysninger</h6>
                <table class="table table-bordered">
                    <tr>
                        <td><strong>Kunde ID:</strong></td>
                        <td>@kunde.KundeID</td>
                    </tr>
                    <tr>
                        <td><strong>Kunde Navn:</strong></td>
                        <td>@kunde.Fornavn @kunde.Efternavn</td>
                    </tr>
                    <tr>
                        <td><strong>Adresse:</strong></td>
                        <td>@kunde.VejNavn @kunde.HusNummer @kunde.Etage @kunde.Placering<br />@kunde.PostNummer @kunde.PostNummerOgBy.ByNavn</td>
                    </tr>
                </table>
            </div>


        </div>

        <hr />

        <!-- Sektion med ordrelinjer -->
        <h6><strong>Ydelser og Produkter</strong></h6>
        <table class="ydelseogproduct-table table table-bordered">
            <thead>
                <tr>
                    <th>OrdreLinje ID</th>
                    <th>Type</th>
                    <th>Navn</th>
                    <th>Pris</th>
                    <th>Dato</th>
                    <th>Antal</th>
                    <th>Rabat</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @if (ordreLinjeListe.Count > 0)
                {
                    @foreach (var item in ordreLinjeListe)
                    {
                        @if (item.ScooterLejeID == null)
                        {
                            <RenderOrdreLinje ordreLinje="@item" currentOrdre="@ordre" />
                        }
                    }
                }
            </tbody>
        </table>

        <hr />

        <!-- Sektion med scooterleje linjer -->
        <h6><strong>ScooterLeje</strong></h6>
        <table class="ScooterLeje-table table table-bordered">
            <thead>
                <tr>
                    <th>OrdreLinje ID</th>
                    <th>Type</th>
                    <th>Dagspris</th>
                    <th>Antal Dage</th>
                    <th>Km Pris</th>
                    <th>Km Kørt</th>
                    <th>Selvrisiko</th>
                    <th>Rabat Procent</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ordreLinjeListe)
                {
                    @if (item.ScooterLejeID != null)
                    {
                        <RenderScooterLejeOrdreLinje ordreLinje="@item" currentOrdre="@ordre" />
                        ListContainsScooterLejeBool = true;
                    }
                }
            </tbody>
        </table>
    }
</div>

<br />



@code {
    [Parameter]
    public int OrdreId { get; set; }
    private Ordre ordre;
    private Kunde kunde;

    private List<OrdreLinje> ordreLinjeListe = new List<OrdreLinje>();
    private ScooterLeje scooterLeje = new ScooterLeje();


    [Inject]
    public IScooterLejeService scooterLejeService { get; set; }

    [Inject]
    public IOrdreService ordreService { get; set; }

    [Inject]
    public IKundeService kundeservice { get; set; }
    [Inject]
    public IOrdreLinjeService ordreLinjeService { get; set; }


    bool ListContainsScooterLejeBool = false;

    protected override async Task OnInitializedAsync()
    {
        ordre = await ordreService.GetOrdre(OrdreId);
        if (ordre?.KundeiD != null)
        {
            kunde = await kundeservice.GetKunde(ordre.KundeiD.Value);
        }
        scooterLeje = await scooterLejeService.GetSingle(4);
        ordreLinjeListe = (await ordreLinjeService.GetAllOrdreLinjer()).Where (od => od.OrdreID == OrdreId).ToList();
    }
}
