@using EksamensProjektScooterLandBlazor.Shared.Models;
@using EksamensProjektScooterLandBlazor.Client.ChildComponents
@page "/Kundepage"

<h3>Kunde oversigt</h3>
<p>Her kan du se en oversigt over alle kunder som er registreret i systemet.</p>

<div class="table-wrapper">
    <table class="table">
        <thead>
            <tr class="Kunde-Tabel-Række">
                <th @onclick="() => SortByColumn(nameof(Kunde.KundeID))">ID @GetSortIndicator("KundeID")</th>
                <th @onclick="() => SortByColumn(nameof(Kunde.Fornavn))">Navn @GetSortIndicator("Fornavn")</th>
                <th @onclick="() => SortByColumn(nameof(Kunde.Email))">Email @GetSortIndicator("Email")</th>
                <th @onclick="() => SortByColumn(nameof(Kunde.TelefonNummer))">Tlf @GetSortIndicator("TelefonNummer")</th>
                <th @onclick="() => SortByColumn(nameof(Kunde.PreferetMekanikerCprNummer))">Pref. M @GetSortIndicator("PreferetMekanikerCprNummer")</th>
                <th @onclick="() => SortByColumn(nameof(Kunde.ScooterBrandID))">Scooter @GetSortIndicator("ScooterBrandID")</th>

                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var kunde in kundeListe)
            {
                <RenderKunde kunde="kunde" deleteKunde="DeleteKunde" />
            }
        </tbody>
    </table>
</div>
