@using EksamensProjektScooterLandBlazor.Shared.Models;
@using EksamensProjektScooterLandBlazor.Client.ChildComponents
@page "/Kundepage"

<h3>Kunde oversigt</h3>
<p>Her kan du se en oversigt over alle kunder som er registreret i systemet.</p>
<NavLink class="nav-link" style="width: 140px; overflow-x: hidden;" href="AddKundePage" Match="NavLinkMatch.All">Tilføj en kunde</NavLink>


<div class="form-container">
    <label for="Scooter">Søg på scooterbrand</label>

    <InputSelect id="Scooter" @bind-Value="sortedScooterBrandID">
        <option value="">- Vælg -</option>
        @foreach (var item in scooterBrandListe)
        {
            <option value="@item.ScooterBrandID">@item.ScooterBrandNavn</option>
        }
    </InputSelect>

    <button class="btn" @onclick="FilterKundeListeByScooter">Søg på scootermærke</button>
</div>

<input @bind="SearchText" @bind:event="oninput" placeholder="Søg på navn" />


<div class="table-wrapper">
    <table class="table">
        <thead>
            <tr class="Kunde-Tabel-Række">
                <th @onclick="() => SortByColumn(nameof(Kunde.KundeID))">ID @GetSortIndicator("KundeID")</th>
                <th @onclick="() => SortByColumn(nameof(Kunde.Fornavn))">Navn @GetSortIndicator("Fornavn")</th>
                <th @onclick="() => SortByColumn(nameof(Kunde.Email))">Email @GetSortIndicator("Email")</th>
                <th @onclick="() => SortByColumn(nameof(Kunde.TelefonNummer))">Tlf @GetSortIndicator("TelefonNummer")</th>
                <th @onclick="() => SortByColumn(nameof(Kunde.PreferetMekanikerCprNummer))">Pref. M @GetSortIndicator("PreferetMekanikerCprNummer")</th>
                <th @onclick="() => SortByColumn(nameof(Kunde.ScooterBrandID))">Scooter @GetSortIndicator("ScooterBrandID")</th>

                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var kunde in FilteretKundeList)
            {
                <RenderKunde kunde="kunde" deleteKunde="DeleteKunde" />
            }
        </tbody>
    </table>
</div>
