@using EksamensProjektScooterLandBlazor.Client.ChildComponents;
@using EksamensProjektScooterLandBlazor.Shared.Models;
@using EksamensProjektScooterLandBlazor.Client.Services;

@page "/YdelsePage"
@if (AddingOrdreBool == false)
{
    <h3>Ydelse oversigt</h3>
    <p>Her kan du se en liste over alle ydelser vi tilbyder</p>

    <input @bind="SearchText" @bind:event="oninput" placeholder="Søg på navn" />
}
<div class="table-wrapper">
    <table class="table">
        <thead>
            <tr>
                <th @onclick="() => SortByColumn(nameof(Ydelse.YdelseID))">ID @GetSortIndicator("YdelseID")</th>
                <th @onclick="() => SortByColumn(nameof(Ydelse.YdelseNavn))">Ydelsesnavn @GetSortIndicator("YdelseNavn")</th>
                <th @onclick="() => SortByColumn(nameof(Ydelse.EstimeretTid))">Estimeret tid @GetSortIndicator("EstimeretTid")</th>
                <th @onclick="() => SortByColumn(nameof(Ydelse.Pris))">Pris @GetSortIndicator("Pris")</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ydelse in FilteretYdelseList)
            {
                <RenderYdelse ydelseTilføjet="ydelseTilføj" ydelser="ydelse" OrdreAddBool="AddingOrdreBool" Ordreid="@Ordreid" />
            }
        </tbody>
    </table>
    </div>

@if (Ordreid == 0)
{
    <div class="button-container">
        <button class="btn btn-primary" @onclick="OpenAddYdelse"> Tilføj Ydelse</button>
        @if(visAddYdelse == true)
        {
            <AddYdelsePage TilføjYdelseTilDB="YdelseCallback"/>
        }
    </div>
}

