@using EksamensProjektScooterLandBlazor.Client.ChildComponents;
@using EksamensProjektScooterLandBlazor.Shared.Models;
@using EksamensProjektScooterLandBlazor.Client.Services;

@page "/YdelsePage"

<h3>Ydelse</h3>

<table class="table">
    <tr>
        <th>YdelseID</th>
        <th>Ydelsesnavn</th>
        <th>EstimeretTid</th>
        <th>Pris</th>
    </tr>
</table>

@* @foreach (var ydelse in YdelsesList)
{
    <RenderYdelse ydelser="@ydelse" />
} *@

    @foreach (var ydelse in YdelsesList)
    {
        <li>@ydelse.YdelseID (@ydelse.YdelseNavn) - (@ydelse.EstimeretTid) - (@ydelse.Pris) </li>
    }



<div></div>
<br />


@code {

    [Inject]
    public IYdelseService Service { get; set; }

    private List<Ydelse> YdelsesList = new List<Ydelse>();

    private int ErrorCode { get; set; } = 0;

    protected override async Task OnInitializedAsync()
    {
        YdelsesList = (await Service.GetAllYdelser()).ToList();
    }
}
