@using EksamensProjektScooterLandBlazor.Client.ChildComponents;
@using EksamensProjektScooterLandBlazor.Shared.Models;
@using EksamensProjektScooterLandBlazor.Client.Services;

@page "/YdelsePage"

<div class="Tabel-Header">
    <p class="Tabel-Header-Text">Ydelse tabel</p>
</div>

<div class="table-container">
    <table class="ydelse-table">
        <thead>
            <tr>
                <th>Ydelse ID</th>
                <th>Ydelsesnavn</th>
                <th>Estimeret Tid</th>
                <th>Pris</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ydelse in YdelsesList)
            {
                <RenderYdelse ydelser="ydelse" />
            }
        </tbody>
    </table>
</div>


    <br />

<EditForm EditContext="@EditContext"
          OnValidSubmit="@HandleValidSubmit"
          OnInvalidSubmit="@HandleInvalidSubmit"
          class="row p-3">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="col-md-12 mb-3">
        <label for="Name">Name</label>
        <InputText id="Name" @bind-Value="YdelseModel.YdelseNavn" class="form-control" />
        <ValidationMessage For="@(() => YdelseModel.YdelseNavn)" />
    </div>
    <div class="col-md-6 mb-3">
        <label for="Pris">Pris</label>
        <InputNumber id="Pris" @bind-Value="YdelseModel.Pris" class="form-control"
                     ParsingErrorMessage="The {0} field has an invalid value." />
        <ValidationMessage For="@(() => YdelseModel.Pris)" />
    </div>
    <div class="col-md-6 mb-3">
        <label for="EstimeretTid">EstimeretTid</label>
        <InputNumber id="EstimeretTid" @bind-Value="YdelseModel.EstimeretTid" class="form-control"
                     ParsingErrorMessage="The {0} field has an invalid value." />
        <ValidationMessage For="@(() => YdelseModel.EstimeretTid)" />
    </div>

    <div class="col-12 mb-3">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</EditForm>



@if (ErrorCode != 0)
{
    <p>@(ErrorCode == 200 ? "Ydelse successfully added!" : $"Error adding Ydelse. Code: {ErrorCode}")</p>
}


