@using EksamensProjektScooterLandBlazor.Shared.Models
@using EksamensProjektScooterLandBlazor.Client.Services;

<tr>
	<td>@kunde.KundeID</td>
	<td>@kunde.Fornavn @kunde.Efternavn</td>
	<td>@kunde.Email</td>
	<td>@kunde.TelefonNummer</td>
	<td>@kunde.PreferetMekanikerCprNummer</td>
	<td>@kunde.ScooterBrandID</td>
</tr>


