@using EksamensProjektScooterLandBlazor.Shared.Models
@using EksamensProjektScooterLandBlazor.Client.Services;


<tr class="hoverable-row">
	<td>@kunde.KundeID</td>
	<td>@kunde.Fornavn @kunde.Efternavn</td>
	<td>@kunde.Email</td>
	<td>@kunde.TelefonNummer</td>
	<td>@kunde.Mekaniker.Fornavn @kunde.Mekaniker.Efternavn</td>
	<td>@kunde.Mekaniker.scooterBrand.ScooterBrandNavn</td>
	<td></td>
</tr>	



