@using EksamensProjektScooterLandBlazor.Shared.Models
@using EksamensProjektScooterLandBlazor.Client.Services;

@* <tr>
	<td>@kunde.KundeID</td>
	<td>@kunde.Fornavn @kunde.Efternavn</td>
	<td>@kunde.Email</td>
	<td>@kunde.TelefonNummer</td>
	@foreach (var mekaniker in mekanikerList)
	{
		if (kunde.PreferetMekanikerCprNummer == mekaniker.CprNummer)
		{
			<td>@mekaniker.Fornavn</td>
		}
	}
	<td>@kunde.ScooterBrandID</td>
</tr> *@


